<div class="---block-teacher-info">
	<div class="---row ---flex-column-reverse ---md-flex-row">
		
		<div class="col-md-8 col-xl-7">
			<div class="h1 ---font-200 ---teacher-name">Анна Вацловна</div>

			<div class="---teacher-stat">
				<div class="---row ---row--sm">
					
					<div class="col-6 col-lg-4">
						<div class="---stat-item">
							<span>Русский язык</span>
							предмет
						</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="---stat-item">
							<span>3 года</span>
							опыт работы
						</div>
					</div>
					<div class="col-6 col-lg-4">
						<div class="---stat-item ---pos-rel">
							<span>14</span>
							курсов

							<i class="---icon-font ---icon-arrow-right ---y-pos-abs"></i>
						</div>
					</div>

				</div>
			</div>

			<div class="---teacher-des">
				<div class="h4 ---block-header ---font-600">О преподавателе</div>
				<p>
					Привет! Меня зовут Полина Павлова
					<br><br>
					Я сдала русский язык на 100 баллов в 2015 году и теперь готова делиться с вами секретами успешной сдачи и ошибками, которые я допускала при подготовке, а также заряжать вас мотивацией и доказывать: сдать русский язык на 90+ баллов реально!
					<br><br>
					Я студентка четвертого курса Казанского Медицинского Университета, поэтому я знаю, как сделать обучение максимально эффективным за короткий срок! От тебя требуется терпение, старание и бешеное желание показать, кто здесь босс.
				</p>
			</div>

			<div class="---teacher-docs">
				<div class="h4 ---block-header ---font-600">Награды и дипломы</div>
				
				<div class="---docs-list">
					<a href="#" class="---document">
						<img src="/assets/imgs/docs/1.png" alt="" class="---img">

						<span class="---name ---font-600">Почетная Грамота Министерства<br> образования и науки РФ</span>
						<span class="---year">Год получения: 2018</span>
						<span class="---btn">Посмотреть</span>
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xl-5">
			<div class="---teacher-avatar">
				<img lazyLoad="/static/imgs/teachers/2.png" class="---img-cover">
			</div>
			<a href="#" class="---text-center ---button ---button--acent_orange">Записаться на бесплатное занятие</a>	
		</div>

	</div>
</div>

<div class="---devider"></div>