<div class="---block-teacher-list">
	<div class="---row"  *ngFor="let teacher of teachers">
		<div class="col-xs-6 col-md-4 col-lg-3">
			<div class="---teacher-item" >
				<a routerLink="#" (click)="getTeacher(teacher.slug)" class="---img">
					<img src="http://api.examator.ru/frontend/web/images/teachers/small/{{teacher.img_name}}" alt="" class="---img-cover">
				</a>
				<div class="---name">{{teacher.name}}</div>
				<div class="---subject">{{teacher.position}}</div>
				<a href="#" class="---insta">insta @Cederholm</a>
			</div>
		</div>

	</div>
</div>

<div class="---devider"></div>
