<div *ngIf="hiddenHints && hints.length>0" class="---modal ---d-flex ---justify-content-center ---align-items-start">
  <div class="---wrapper ---wrapper_hint ---text-center">
    <img src="http://api.examator.ru/images/options/{{hints[currentHints].img_name}}" alt="">

    <div class="---wrapper__hint-content">
      <div class="h4 ---hint__title ---font-600">{{hints[currentHints].name}}</div>
      <p>
        {{hints[currentHints].description}}
      </p>
    </div>

    <div *ngIf="currentHints!==0" (click)="prevHints()">Назад</div>
    <div *ngIf="currentHints+1<hints.length" (click)="nextHints()">Вперед</div>
    <div (click)="hiddenHints=!hiddenHints"
         class="---cursor-pointer ---icon-close ---icon-font ---icon-close ---x-pos-abs"></div>
  </div>
</div>
