<div class="---block-profile ---d-flex">
  <app-profile-menu></app-profile-menu>
  <div class="---rside ---pos-rel">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="---block-title ---block-title--sm">Данные вашего профиля</div>
    <div class="---devider"></div>
    <div class="---row ---no-gutters">
      <form method="post" class="---form col-xl-9">

        <div class="---row">
          <div class="---input-wrap col-md-6">
            <label class="---input-label">Имя</label>
            <input type="text"  class="---input" [(ngModel)]="profile.first_name" name="name">
          </div>
          <div class="---input-wrap col-md-6">
            <label class="---input-label">Фамилия</label>
            <input type="text" class="---input" [(ngModel)]="profile.last_name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="---input-wrap col-md-6">
            <label pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="---input-label">Электронная почта</label>
            <input type="email" class="---input" [(ngModel)]="profile.email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="---input-wrap col-md-6">
            <label class="---input-label">Номер телефона</label>
            <input mask="+0 (000) 000 00 00" type="text" class="---input" [(ngModel)]="profile.phone" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="---input-wrap col-md-6">
            <label class="---input-label">Дата рождения</label>
            <input type="date" class="---input" [(ngModel)]="profile.date_birth" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="---input-wrap col-md-6">
            <label class="---input-label">Ваш город</label>
            <input type="text" class="---input" [(ngModel)]="profile.city" [ngModelOptions]="{standalone: true}">
          </div>
        </div>

        <div class="---devider ---underform-devider"></div>

        <div (click)="save()" class="---button ---button--acent_orange">Сохранить</div>
      </form>
    </div>
  </div>
</div>
