<div *ngIf="data.data.type" id="---modal-text" class="---modal ---d-flex ---align-items-start ---justify-content-center" style="    z-index: 9999999;">
  <div class="---wrapper ---wrapper_padding ---text-center">

    <i class="---js-close ---icon-close ---icon-font ---icon-close ---x-pos-abs" data-close-block=".---modal" (click)="clear()"></i>

    <div class="modal-body">
      <div class="---modal__title ---font-800">{{data.data.title}}</div>

      <p>{{data.data.body}}</p>

      <div class="---button ---button--acent cur-point" (click)="clear()">Ок, понял</div>
    </div>

  </div>
</div>
