@media (max-width: @media375) {

	/* Base */



	/* UI */



	/* Blocks */
	.---block-course-in {

		.---video {
			height: 230px;
			
			.---play-button {
			    width: 70px;
			    height: 70px;
			}

			.---img {
				width: 200px;
			}

		}

	}
	
	.---block-title {

		p {
			font-size: 14px;
			margin-top: 15px;
		}

	}

	.---block-reviews {

		.---block-title {
			margin: 0;
		}
		
	}



	/* Layouts */

}