@media (max-width: @media475) {

	/* Base */
	.---pagination {

		.---nums {

			a {
				font-size: 14px;
				padding: 7px 8px;
				margin-right: 5px;
			}

		}

		.---button {
			padding: 5.5px 20px;
		}

	}



	/* UI */



	/* Blocks */
	.---points-wrap {

		.---points-block {
			font-size: 30px;

			.---title {
				font-size: 14px;
				margin-bottom: 5px;
			}

			.---p-item {

				svg {
					display: none;
				}

			}

			.---acent {
				font-size: 16px;
			}

		}

	}

	.---block-course-in {

		.---course-theme {
			font-size: 24px;
		}

		.---course-name {
			font-size: 20px;
		}

		.---video {
			height: 250px;
		
			.---man {
				width: 200px;
			}

		}

		.---course-theory {

			.---theory {
				height: 400px;
			}

		}

		.---lessons {

			.---lesson {
				padding: 10px 40px 10px 15px;

				&.---is-curent {
					padding-top: 14px;
					padding-bottom: 14px;
				}

			}

		}

	}

	.---block-courses {

		.---free-course {
			padding: 15px;
			border-radius: 10px;
		}

		.---free-course--acent {

			.---font-800 {
				margin-bottom: 15px;
			}

			.---old-price {
				margin: 0;
			}
		
		}

	}

	.---block-course-about {

		p {
			margin-bottom: 0;
		}

	}

	.---block-reviews {

		.---item {

			.---thumb {
				font-size: 13px;
			}

			p {
				font-size: 14px;
				margin-top: 15px;
			}

		}

	}



	/* Layouts */

}