@media (max-width: @mediaMd) {

	.---content-wrap {
		padding: 0 15px;
	}

	.---block-title {
		font-size: 36px;
		margin-bottom: 30px;

		p {
			font-size: 16px;
		}

	}

	.---block-index-offer {

		.---block-title {

			b {
				margin-bottom: 15px;
			}

		}

		p {
			margin-bottom: 30px;
			font-size: 16px;
		}

		.---illustration-wrap {
			margin-top: -170px;

			.---img {
				width: 240px;
			    right: -80px;
			    position: relative;
			}

			.---bg {
				width: 280px;
				position: absolute;
				top: 0px;
				right: -40px;
			}

		}

	}

	.---block-work-step {

		.---tab-switcher {
			padding: 20px 15px 20px 80px;
			border-radius: 10px;

			.---svg-img {
				width: 44px;
			}

		}

		.---tab {
			height: 280px;

			.---play-button {
			    left: 20px;
			    width: 80px;
			    height: 80px;

			    svg {
				    width: 30px;
				    height: 30px;
			    }

			}

			.---man {
				max-height: 257px;
			}

		}

	}

	.---block-subjects {

		.---item {
			padding-left: 78px;
			position: relative;

			.---item__icon {
				position: absolute;
				top: 15px;
				left: 15px;
			    width: 48px;
			    height: 48px;
			}

			.---item__title {
				margin-top: 0;
			}

		}

	}

	.---block-reviews {

		.---block-title {
			padding-right: 0;
		}

		.---owl-nav {display: none;}

		.---owl-item {
			padding-top: 40px;
		}

	}

	.---block-have-questions {

		.---illustration-wrap {
			margin-top: -170px;

			.---img {
				width: 240px;
			    right: -80px;
			    position: relative;
			}

			.---bg {
				width: 280px;
				position: absolute;
				top: 0px;
				right: -40px;
			}

		}

	}

	.---layout-footer {

		.---nav-blocks {
			margin-top: 20px;

			.---block {
				margin-top: 30px;

				.---title {
					margin-bottom: 15px;
				}

				nav {

					a {
						margin-bottom: 10px;
					}

				}

			}

		}

	}

}