@media (max-width: @mediaSm) {

	br {display: none;}

	.---devider {
		margin: 30px 0;
	}

	.---block-title {
		font-size: 30px;
		flex-direction: column;
		align-items: flex-start !important;

		.---button {
			margin-top: 15px;
		}

	}

	.---block-index-offer {
		padding-top: 30px;

		.---block-title {
			margin-right: 30px;
		}

	}

	.---block-work-step {

		.---tab {
			height: 220px;

			.---play-button {
			    left: 10px;
			    width: 70px;
			    height: 70px;
			}

			.---man {
				right: 10px;
				max-height: 202px;
			}

		}

		.---tab-switcher {
			padding: 10px 15px;
			font-size: 16px;

			.---svg-img {
				display: none;
			}

		}

	}

	.---block-reviews {
		padding-bottom: 30px;

		.---item {

			.---item-header {
				padding-left: 90px;

				img {
					bottom: 14px;
					width: 60px;
				}

			}

		}

	}

	.---block-have-questions {
		margin-top: 30px;
	}

}