<div class="---layout-footer">

  <div class="---social ---row ---row--sm ---font-600">
    <div class="col-6 col-xs-4 xl-col-">
      <a href="#" rel="nofollow" target="_blank" class="---d-flex ---flex-column ---align-items-center">
                                    <span class="---icon">
                                        <img data-src="/static/imgs/icons/social/facebook.svg" alt="" class="---lazyload">
                                    </span>
        <span class="---title">Facebook</span>
        <span class="---followers">12К подписчиков</span>
      </a>
    </div>
    <div class="col-6 col-xs-4 xl-col-">
      <a href="#" rel="nofollow" target="_blank" class="---d-flex ---flex-column ---align-items-center">
                                    <span class="---icon">
                                        <img data-src="/static/imgs/icons/social/telegram.svg" alt="" class="---lazyload">
                                    </span>
        <span class="---title">Telegram</span>
        <span class="---followers">12К подписчиков</span>
      </a>
    </div>
    <div class="col-6 col-xs-4 xl-col-">
      <a href="#" rel="nofollow" target="_blank" class="---d-flex ---flex-column ---align-items-center">
                                    <span class="---icon">
                                        <img data-src="/static/imgs/icons/social/vk.svg" alt="" class="---lazyload">
                                    </span>
        <span class="---title">Вконтакте</span>
        <span class="---followers">12К подписчиков</span>
      </a>
    </div>
    <div class="col-6 col-xs-4 xl-col-">
      <a href="#" rel="nofollow" target="_blank" class="---d-flex ---flex-column ---align-items-center">
                                    <span class="---icon">
                                        <img data-src="/static/imgs/icons/social/instagram.svg" alt="" class="---lazyload">
                                    </span>
        <span class="---title">Instagram</span>
        <span class="---followers">12К подписчиков</span>
      </a>
    </div>
    <div class="col-6 col-xs-4 xl-col-">
      <a href="#" rel="nofollow" target="_blank" class="---d-flex ---flex-column ---align-items-center">
                                    <span class="---icon">
                                        <img data-src="/static/imgs/icons/social/youtube.svg" alt="" class="---lazyload">
                                    </span>
        <span class="---title">Youtube</span>
        <span class="---followers">12К подписчиков</span>
      </a>
    </div>
  </div>

  <div class="---row ---xl-flex-nowrap ---nav-blocks">
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">Математика</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">Физика</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">Русский</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">История</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">Химия</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
    <div class="---block col-6 col-xs-4 xl-col-auto">
      <div class="---title ---font-800">Биология</div>
      <nav>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
        <a href="#">Divi Builder</a>
      </nav>
    </div>
  </div>

  <div class="---footer ---d-flex ---flex-column ---sm-flex-row">
    <div class="---copy">© 2019 Ekzamator. All Rights Reserved.</div>

    <a href="#" class="---conf">Политика конфиденциальности</a>
  </div>

</div>
