<div class="---block-have-questions">
  <div class="---row">

    <div class="col-lg-7">
      <div class="---block-title">
        Остались вопросы?<br>
        <b class="---font-800">
          Запишись на бесплатное<br>
          занятие!
        </b>
      </div>
      <a
        href="https://vk.com/app5898182_-185278877#s=493523"
        target="_blank"
        class="---button ---button--acent_orange">
        {{buttons[5].name}}
      </a>
    </div>

    <div class="col-lg-5 ---d-none ---sm-d-block">
      <div class="---illustration-wrap ---pos-rel ---bg ---z-index-under ---text-right">
        <img lazyLoad="assets/imgs/illustrations/1.svg" alt="" class="---img ---z-index-over">
        <img lazyLoad="assets/imgs/illustrations/bg1.svg" alt="" class="---bg ---z-index-under">
      </div>
    </div>

  </div>
</div>

<div class="---devider"></div>

<div class="---layout-footer">

  <app-social-link></app-social-link>

<!--  <div class="-&#45;&#45;row -&#45;&#45;xl-flex-nowrap -&#45;&#45;nav-blocks"-->
<!--       *ngFor="let footerMenu of footers">-->

<!--    <div class="-&#45;&#45;block col-6 col-xs-4 col-xl-auto">-->
<!--      <div class="-&#45;&#45;title -&#45;&#45;font-800">{{footerMenu.title}}</div>-->
<!--      <nav *ngFor="let subject of footerMenu.sectionSubjects" [ngClass]="{'opacity-5':footerMenu.is_status==='2'}">-->
<!--        <a (click)="getSection(subject)" *ngIf="subject.parent_id==='0'" class="-&#45;&#45;cursor-pointer">{{subject.name}}</a>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->

  <div class="---footer ---d-flex ---flex-column ---sm-flex-row">
    <div class="---copy">© 2020 Examator. All Rights Reserved.</div>

    <a href="#" class="---conf">Политика конфиденциальности</a>
  </div>

</div>
