<div class="---block-have-questions">
  <div class="---row">

    <div class="col-lg-7">
      <div class="---block-title">
        Остались вопросы?<br>
        <b class="---font-800">
          Запишись на бесплатный<br>
          пробный курс!
        </b>
      </div>
      <a href="#" class="---button ---button--acent_orange">Запись на прорбный курс</a>
    </div>

    <div class="col-lg-5 ---d-none ---sm-d-block">
      <div class="---illustration-wrap ---pos-rel ---bg ---z-index-under ---text-right">
        <img lazyLoad="assets/imgs/illustrations/1.svg" alt="" class="---img ---z-index-over">
        <img lazyLoad="assets/imgs/illustrations/bg1.svg" alt="" class="---bg ---z-index-under">
      </div>
    </div>

  </div>
</div>

<div class="---devider"></div>

<div class="---layout-footer">

 <app-social-link></app-social-link>

  <div class="---row ---xl-flex-nowrap ---nav-blocks"
  *ngFor="let footerMenu of footers">

    <div class="---block col-6 col-xs-4 col-xl-auto">
      <div class="---title ---font-800">{{footerMenu.title}}</div>
      <nav *ngFor="let subject of footerMenu.sectionSubjects">
        <a href="#">{{footerMenu.name}}</a>
        <a href="#">{{subject.name}}</a>
      </nav>
    </div>
  </div>

  <div class="---footer ---d-flex ---flex-column ---sm-flex-row">
    <div class="---copy">© 2019 Ekzamator. All Rights Reserved.</div>

    <a href="#" class="---conf">Политика конфиденциальности</a>
  </div>

</div>
