<header class="---layout-header ---d-flex">
  <div class="---container">
    <div class="---row">

      <a routerLink="/"
         class="---logo ---pos-rel ---z-index-over ---d-flex ---align-items-center ---justify-content-end">
        <img src="assets/imgs/logo.svg">
        <span class="---bg ---z-index-under"></span>
      </a>

      <div class="---content ---d-flex ---justify-content-between ---align-items-center">
        <img lazyLoad="assets/imgs/logo-text.svg" alt="" class="---logo-text ---d-none ---xl-d-block">

        <div class="---d-flex">
          <a href="#" class="---button ---button--acent_orange ---d-inline-flex ---lg-d-none ---js-open"
             data-open-block=".---main-menu" data-html-hidden="1">
            <img src="assets/imgs/icons/main-menu.svg" alt="">
            <span>Меню</span>
          </a>

          <div class="---subject ---pos-rel ---z-index-over ---lg-d-none ---xxl-d-block">
            <a href="#" class="---button ---button--acent">
              <img src="assets/imgs/icons/menu.svg" alt="">
              <span>Предметы</span>
            </a>

            <div class="---subject-list ---font-600 ---z-index-under">
              <div *ngFor="let currentMenu of menu" [ngClass]="{'---inactive':currentMenu.is_status==='2'}"
                   (click)="getSection(currentMenu)">{{currentMenu.title}}
              </div>
            </div>

          </div>
        </div>

        <nav class="---d-none ---lg-d-flex">
          <a (click)="subject.show=true" class="---cursor-pointer ---acent ---font-600">{{buttons[0].name}}</a>
          <a routerLink='teacher'>{{buttons[1].name}}</a>

          <a routerLink='reviews'>{{buttons[2].name}}</a>
          <a routerLink='blog'>{{buttons[3].name}}</a>
        </nav>

        <div class="---btns ---d-flex">
          <button *ngIf="!checkAuth" (click)="auth()" class="---button ---button--border_bg">Войти</button>
          <a *ngIf="checkAuth" routerLink='profile-details' class="---button ---button--border_bg">Профиль</a>
          <a
            href="https://vk.com/app5898182_-185278877#s=493523"
            target="_blank"
            class="---d-none ---pos-rel ---md-d-inline-flex ---button ---button--acent_orange ---start-learn">
            Бесплатное занятие
          </a>
        </div>
      </div>

    </div>
  </div>
</header>


<div *ngIf="subject.show"
     class="---modal ---justify-content-center ---align-items-start ---is-visible ---d-flex">
  <div class="---wrapper ---wrapper_free-courses">
    <i class="---js-close ---icon-close ---icon-font ---icon-close ---x-pos-abs" (click)="subject.show=false"
       data-close-block=".---modal"></i>

    <div class="---block-subjects ---row ---row--sm">
      <div class="col-xs-6 spec-block-lesson" *ngFor="let item of menu">
        <div (click)="getSection(item)"
             [ngClass]="{'opacity-5':item.is_status==='2'}"
             class="---cursor-pointer ---item  ---d-flex ---flex-row ---align-items-center ---md-flex-column ---md-align-items-start"
             [style.backgroundColor]="item.color">
          <div class="---item__icon ---pos-rel">
            <i class="---icon-font ---pos-abs" [ngClass]="'---icon-menu-'+item.icon"></i>
          </div>
          <div>
            <div class="---item__title">{{item.title}}</div>
            <!--<div class="---item__thumb">56 курсов / 28 вебинаров</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
