<header class="---layout-header ---d-flex">
  <div class="---container">
    <div class="---row">

      <a href="/" class="---logo ---pos-rel ---z-index-over ---d-flex ---align-items-center ---justify-content-end">
        <img lazyLoad="assets/imgs/logo.svg" >
        <span class="---bg ---z-index-under"></span>
      </a>

      <div class="---content ---d-flex ---justify-content-between ---align-items-center">
        <img lazyLoad="assets/imgs/logo-text.svg" alt="" class="---logo-text ---d-none ---xl-d-block">

        <div class="---d-flex">
          <a href="#" class="---button ---button--acent_orange ---d-inline-flex ---lg-d-none ---js-open" data-open-block=".---main-menu" data-html-hidden="1">
            <img lazyLoad="assets/imgs/icons/main-menu.svg" alt="">
            <span>Меню</span>
          </a>

          <div class="---subject ---pos-rel ---z-index-over ---lg-d-none ---xxl-d-block">
            <a href="#" class="---button ---button--acent">
              <img lazyLoad="assets/imgs/icons/menu.svg" alt="">
              <span>Предметы</span>
            </a>

            <div class="---subject-list ---font-600 ---z-index-under">
              <a href="/math.php">Математика</a>
              <a href="/physics.php">Физика</a>
              <a href="/russian.php">Русский</a>
              <a href="/social.php">Общество</a>
              <a href="/history.php">История</a>
              <a href="/chemistry.php">Химия</a>
              <a href="/biology.php">Биология</a>
            </div>
          </div>
        </div>

        <nav class="---d-none ---lg-d-block">
          <a routerLink='' class="---acent ---font-600">Выбрать бесплатный урок</a>
          <a routerLink='instruction'>Как это работает?</a>
          <a routerLink='reviews'>Отзывы</a>
          <a routerLink='blog'>Блог</a>
        </nav>

        <a href="#" href="#" class="---profile ---d-flex ---align-items-center">
          <span class="---avatar">
            <img lazyLoad="assets/imgs/user/1.png" alt="" class="---img-cover">
          </span>
          <span class="---level ---d-none ---md-d-block">
            <img lazyLoad="assets/imgs/icons/profile-flash.svg" alt="" >
            3 уровень
          </span>
          <span class="---points ---font-600 ---d-none ---md-d-block">822 балла</span>
        </a>

        <!-- <div class="---btns ---d-flex">
            <a href="#" class="---button ---button--border_bg">Войти</a>
            <a href="#" class="---button ---button--acent_orange">Начать учиться</a>
        </div> -->
      </div>

    </div>
  </div>
</header>
