<div class="---block-work-step ---tabs">
  <div class="---row">

    <div class="col-12 ---block-title">
      Как проходят курсы?
      <p>
        Наш опыт говорит о том, что в обучении должны участвовать реальные люди, а не обезличенные тренажеры.<br>
        После каждого урока будет практическое задание, которое проверит и прокомментирует преподаватель.
      </p>
    </div>

    <div class="col-md-9">
      <div class="---tab ---pos-rel ---is-visible">
        <div class="---play-button ---y-pos-abs ---z-index-over">
          <img lazyLoad="assets/imgs/icons/play-button.svg" alt="" class="---svg-img ---pos-abs">
        </div>

        <img lazyLoad="assets/imgs/work_step/1.png" alt="" class=" ---bg ---img-cover">

        <img lazyLoad="assets/imgs/man.png" alt="" class="---man">
      </div>
      <div class="---tab ---pos-rel">
        <div class="---play-button ---y-pos-abs ---z-index-over">
          <img lazyLoad="assets/imgs/icons/play-button.svg" alt="" class="---svg-img ---pos-abs">
        </div>

        <img lazyLoad="assets/imgs/work_step/1.png" alt="" class="---bg ---img-cover">

        <img lazyLoad="assets/imgs/man.png" alt="" class="---man">
      </div>
      <div class="---tab ---pos-rel">
        <div class="---play-button ---y-pos-abs ---z-index-over">
          <img lazyLoad="assets/imgs/icons/play-button.svg" alt="" class="---svg-img ---pos-abs">
        </div>

        <img lazyLoad="assets/imgs/work_step/1.png" alt="" class="---bg ---img-cover">

        <img lazyLoad="assets/imgs/man.png" alt="" class="---man">
      </div>
      <div class="---tab ---pos-rel">
        <div class="---play-button ---y-pos-abs ---z-index-over">
          <img lazyLoad="assets/imgs/icons/play-button.svg" alt="" class="---svg-img ---pos-abs">
        </div>

        <img lazyLoad="assets/imgs/work_step/1.png" alt="" class="---bg ---img-cover">

        <img lazyLoad="assets/imgs/man.png" alt="" class="---man">
      </div>
    </div>
    <div class="col-md-3">
      <div class="---tabs-switchers ---font-800 ---cursor-pointer">
        <div class="---tab-switcher ---is-active ---pos-rel">
          <img lazyLoad="assets/imgs/icons/work-step/1.svg" alt="" class="---svg-img ---y-pos-abs">
          Обучение
        </div>
        <div class="---tab-switcher ---pos-rel">
          <img lazyLoad="assets/imgs/icons/work-step/2.svg" alt="" class="---svg-img ---y-pos-abs">
          Курсы
        </div>
        <div class="---tab-switcher ---pos-rel">
          <img lazyLoad="assets/imgs/icons/work-step/3.svg" alt="" class="---svg-img ---y-pos-abs">
          Вебинары
        </div>
        <div class="---tab-switcher ---pos-rel">
          <img lazyLoad="assets/imgs/icons/work-step/4.svg" alt="" class="---svg-img ---y-pos-abs">
          Тесты
        </div>
      </div>
    </div>

  </div>
</div>
