<div class="---block-blog--in">
  <article class="---content">
    <img lazyLoad="http://cx50269-wordpress-3.tw1.ru/images/blog/{{blog.img_name}}" alt="" class="---main-img">

    <div class="---date">{{blog.author}}, {{blog.created_at}}</div>

    <h1 class="---font-600">{{blog.title}}</h1>
    <div innerHTML="{{blog.description}}">
    </div>

  </article>

  <div class="---share ---d-flex ---font-uppercase ---font-600">
    <a href="#" class="---d-inline-flex ---align-items-center ---fb">
      <img data-src="/static/imgs/icons/share/facebook.svg" alt="" class="---svg-img">
      Поделиться
    </a>
    <a href="#" class="---d-inline-flex ---align-items-center ---tw">
      <img data-src="/static/imgs/icons/share/twitter.svg" alt="" class="---svg-img">
      Поделиться
    </a>
    <a href="#" class="---d-inline-flex ---align-items-center ---vk">
      <img data-src="/static/imgs/icons/share/vk.svg" alt="" class="---svg-img">
      Поделиться
    </a>
    <a href="#" class="---d-inline-flex ---align-items-center ---gp">
      <img data-src="/static/imgs/icons/share/google-plus.svg" alt="" class="---svg-img">
      Поделиться
    </a>
  </div>
</div>

<div class="---devider ---devider--sm"></div>
