<div class="---block-profile ---d-flex">
  <app-profile-menu></app-profile-menu>
  <div class="---rside ---pos-rel">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="---block-title ---block-title--sm">Полученные баллы</div>
    <div class="---devider"></div>
    <div class="---points-wrap">
      <div class="---acent-block ---points-block ---d-flex ---justify-content-between">
        <div class="---p-item ---pos-rel">
          <div class="---d-block ---title">Баллов</div>
          <div class="---font-800">{{pointsInfo.points}}</div>

          <img data-src="/static/imgs/icons/profile-flash.svg" alt="" class="---y-pos-abs ---svg-img">
        </div>
        <div class="---p-item">
          <div class="---d-block ---title">Привелегии на</div>
          <div class="---font-200">{{pointsInfo.level}} уровень</div>
        </div>

        <div class="---acent ---d-flex ---align-items-center">
          {{pointsInfo.nextLevel}}
        </div>
      </div>

      <div class="---level">
        <p>Ваш уровень позволяет получать скидки на курсы:</p>
        <div class="---font-600">2 уровень - скидка 5%  /  3 уровень - скидка 10%  /  4 уровень - скидка 15%  /  5 уровень - скидка 20%</div>

        <p>
          Баллы можно получить за успешное проходение уроков.<br>
          Так же баллы увеличиваются за скорость прохождения урока.
        </p>
      </div>
    </div>
  </div>
</div>
