<div class="---block-course-in">
  <div class="---d-block ---lg-d-none">
    <a href="#" class="---button ---button--acent ---js-open" data-open-block=".---lesson-list" data-html-hidden="1">Список
      уроков</a>
  </div>

  <div class="---course-theme ---font-800">{{section.name}}</div>
  <div class="---devider"></div>

  <div class="---row">

    <div class="col-lg-9">

      <div class="---course-name">{{lesson.name}}</div>

      <div class="---video ---pos-rel">
        <div class="---play-button ---y-pos-abs ---z-index-over">
          <svg class="---pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.861 163.861">
            <path
              d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/>
          </svg>
        </div>
        <img lazyLoad="assets/imgs/course-in/bg.png" alt="" class="---bg ---img-cover">
        <span *ngFor="let currentWork of storage">
          <video controls="controls" *ngIf="currentWork.type==='video'">
            <source src="http://api.examator.ru/images/lessons/{{currentWork.name}}"
                    type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            Тег video не поддерживается вашим браузером.
            <a href="video/duel.mp4">Скачайте видео</a>.
          </video>
        </span>
      </div>

      <div class="---teacher">
        <span class="---name ---font-800 ---d-block ---xs-d-inline-block">{{teachers.name}}</span>
      </div>

      <div class="---course-theory">
        <div class="---block-title">Теория по курсу</div>

        <div class="---theory-wrap">
          <div class="---theory">
            <div *ngFor="let currentWork of storage">

              <!-- <div *ngIf="currentWork.type==='image'"> -->
              <img src='http://api.examator.ru/images/lessons/{{currentWork.name}}' alt=""
                   *ngIf="currentWork.type==='image'">
              <!-- </div> -->

              <div *ngIf="currentWork.type==='pdf'">
                <!--<ngx-extended-pdf-viewer src='http://api.examator.ru/images/lessons/{{currentWork.name}}'></ngx-extended-pdf-viewer>-->

                <embed id='vid' [src]='currentWork.url'
                       style="width: 100%;height: 500px"
                       type="application/pdf">
              </div>

              <div>
                <video controls="controls" *ngIf="currentWork.type==='video'">
                  <source src="http://api.examator.ru/images/lessons/{{currentWork.name}}"
                          type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                  Тег video не поддерживается вашим браузером.
                  <a href="video/duel.mp4">Скачайте видео</a>.
                </video>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="---devider"></div>

      <div class="---block-title">Пройдите тест <span class="---acent">для завершения</span></div>

      <div class="---test-wrap ---d-flex ---flex-wrap" *ngIf="currentTest.question!=''">
        <div class="col-xl-5">
          <div class="---task">
            <div class="h3">Задание</div>

            <img src='http://api.examator.ru/images/question/{{currentTest.question}}'
                 alt="" style="max-width: 100%;">
          </div>
        </div>

        <div class="col-xl-7">
          <div class="---answers">
            <div class="h3">Ваш ответ</div>

            <div class="---answer ---is-active">
              <div class="---input-wrap ---_indicator ---pos-rel ---d-flex ---align-items-center">
                <!-- <div class="---indicator ---y-pos-abs"></div> -->
                <input [(ngModel)]="answer" class="---input" placeholder="Впишите ответ">
              </div>
            </div>
            <div class="---answer">
              <div *ngIf="answerTest.length+1!==test.length" (click)="nextQuestion()"
                   class="btn btn-link button--acent_orange">Ответить
              </div>
              <div *ngIf="answerTest.length+1===test.length" (click)="sendAnswer()"
                   class="btn btn-link ---button--border_bg-dark">Завершить тест
              </div>
            </div>

            <div class="---answers__count">Вопрос {{answerTest.length + 1}} из {{test.length}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ---lesson-list ---d-flex ---flex-column ---align-items-start ---lg-align-items-end">
      <svg class="---js-close ---d-block ---lg-d-none" data-close-block=".---main-menu"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.171 241.171" width="512" height="512">
        <path
          d="M138.138 120.754l99.118-98.576a11.931 11.931 0 0 0 0-17.011c-4.74-4.704-12.439-4.704-17.179 0l-99.033 98.492-99.949-99.96c-4.74-4.752-12.439-4.752-17.179 0-4.74 4.764-4.74 12.475 0 17.227l99.876 99.888L3.555 220.497c-4.74 4.704-4.74 12.319 0 17.011 4.74 4.704 12.439 4.704 17.179 0l100.152-99.599 99.551 99.563c4.74 4.752 12.439 4.752 17.179 0 4.74-4.764 4.74-12.475 0-17.227l-99.478-99.491z"
          fill="#FFF"/>
      </svg>

      <div class="---lessons">
        <div [ngClass]="{'---is-curent':lesson.slug===currentWork.slug}"
             (click)="getWork(section.slug+'/'+currentWork.slug)"
             *ngFor="let currentWork of section.allLessons; let i = index;" class="---lesson">
          {{i + 1}} урок
          <span *ngIf="currentWork.checked==='1'"><svg class="---y-pos-abs" xmlns="http://www.w3.org/2000/svg"
                                                       viewBox="0 0 32 32"><path
            d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm-2.48 23.383L6.158 16.02l2.828-2.828 4.533 4.535 9.617-9.617 2.828 2.828L13.52 23.383z"/></svg></span>
        </div>
      </div>
    </div>
  </div>
</div>
