<div class="---block-course-in">
  <div class="---d-block ---lg-d-none">
    <a href="#" class="---button ---button--acent ---js-open" data-open-block=".---lesson-list" data-html-hidden="1">Список
      уроков</a>
  </div>

  <div class="---course-theme ---font-800">{{section.name}}

    <iframe
      *ngIf="globalParamsUser.fio!==null"
      [src]="sanitizer.bypassSecurityTrustResourceUrl('https://money.yandex.ru/quickpay/shop-widget?targets=Examator&any-card-payment-type=on&default-sum='+section.price+'&successURL=http://dev.examator.ru&account=410013781874599&label='+globalParamsUser.fio+'-'+section.slug)"
      width="184"
      height="36"
      frameborder="0"
      allowtransparency="true"
      scrolling="no"
    >

    </iframe>
  </div>
  <div class="---devider"></div>

  <div class="---row">

    <div class="col-lg-9">

      <div class="---course-name">{{lesson.name}}</div>

      <div (click)="toggleVideo()" class="---video ---pos-rel">
        <div *ngIf="showButton" class="---play-button ---y-pos-abs ---z-index-over ---d-none">
          <svg class="---pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.861 163.861">
            <path
              d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/>
          </svg>
        </div>
        <span *ngFor="let currentWork of storage">
          <video #videoPlayer class="---pos-rel ---img-cover" controls *ngIf="currentWork.type==='video'">
            <source src="http://api.examator.ru/images/lessons/{{currentWork.name}}"type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          </video>
        </span>
      </div>

      <div class="---teacher">
        <span class="---name ---font-800 ---d-block ---xs-d-inline-block">{{teachers.name}}</span>
      </div>

      <div class="---course-theory">
        <div class="---block-title">Теория по курсу</div>

        <div class="---theory-wrap">
          <div class="---theory">
            <div *ngFor="let currentWork of storage">
              <div *ngIf="currentWork.type==='pdf'">
                <embed id='vid' [src]='currentWork.url'
                       style="width: 100%; height: 500px"
                       type="application/pdf">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="---devider"></div>

      <div class="---block-title" *ngIf="showTest===true">Пройдите тест <span class="---acent">для завершения</span>
      </div>

      <div class="---test-wrap ---d-flex ---flex-wrap" *ngIf="showTest===true">
        <div class="col-xl-5">
          <div class="---task">
            <div class="h3">Задание</div>

            <div (click)="checkImg(currentTest.question)" class="---cursor-pointer">
              <img src='http://api.examator.ru/images/question/{{currentTest.question}}' alt="" style="max-width: 100%;">
            </div>

            <div class="---button ---button--xs ---button--green ---cursor-pointer" (click)="checkImg(currentTest.hint,'hint')" *ngIf="currentTest.hint!==''">Подсказка</div>
          </div>
        </div>

        <div class="col-xl-7">
          <div class="---answers">
            <div class="h3">Ваш ответ (вопрос {{answerTest.length + 1}} из {{test.length}})</div>

            <div class="---answer ---is-active">
              <div class="---input-wrap ---_indicator ---pos-rel ---d-flex ---align-items-center">
                <input [(ngModel)]="answer" class="---input" placeholder="Впишите ответ">
              </div>
            </div>
            <div class="---answer">
              <div *ngIf="answerTest.length+1!==test.length" (click)="nextQuestion()"
                   class="---button ---button--acent_orange ---cursor-pointer">Ответить
              </div>
              <div *ngIf="answerTest.length+1===test.length" (click)="sendAnswer()"
                   class="---button ---button--acent_orange ---cursor-pointer">Завершить тест
              </div>
            </div>

            <!-- <div class="---answers__count"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ---lesson-list ---d-flex ---flex-column">
      <svg class="---js-close ---d-block ---lg-d-none" data-close-block=".---main-menu"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.171 241.171" width="512" height="512">
        <path
          d="M138.138 120.754l99.118-98.576a11.931 11.931 0 0 0 0-17.011c-4.74-4.704-12.439-4.704-17.179 0l-99.033 98.492-99.949-99.96c-4.74-4.752-12.439-4.752-17.179 0-4.74 4.764-4.74 12.475 0 17.227l99.876 99.888L3.555 220.497c-4.74 4.704-4.74 12.319 0 17.011 4.74 4.704 12.439 4.704 17.179 0l100.152-99.599 99.551 99.563c4.74 4.752 12.439 4.752 17.179 0 4.74-4.764 4.74-12.475 0-17.227l-99.478-99.491z"
          fill="#FFF"/>
      </svg>

      <div class="---lessons">
        <div [ngClass]="{'---is-curent':lesson.slug===currentWork.slug}"
             *ngFor="let currentWork of section.allLessons;let i = index"
             (click)="getWorkCurrent(section.slug+'/'+currentWork.slug)"
             class="---lesson ---cursor-pointer">
            {{i+1}}. {{currentWork.name}}
            <span *ngIf="currentWork.checked==='1'">
              <svg class="---y-pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm-2.48 23.383L6.158 16.02l2.828-2.828 4.533 4.535 9.617-9.617 2.828 2.828L13.52 23.383z"/></svg>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showCheckImg"
    class="---modal ---justify-content-center ---align-items-start ---is-visible ---d-flex">
  <div class="---wrapper ---wrapper_img-view ---text-center">
    <i class="---js-close ---icon-close ---icon-font ---icon-close ---x-pos-abs" (click)="showCheckImg=false"
       data-close-block=".---modal"></i>
    <img src='{{modalImg}}' alt="" class="---task-img">
  </div>
</div>
