<app-message-alert></app-message-alert>

<app-header></app-header>

  <div id="---main-content" class="---d-flex">
    <div class="---container">
      <div class="---row" style="height: 100%;">
        <app-menu class="---main-menu ---d-flex ---flex-column ---align-items-start ---lg-align-items-end ---text-center ---pos-rel ---z-index-over"></app-menu>

        <div class="---content-wrap">
          <app-breadcrumbs></app-breadcrumbs>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
