.---block-subjects {

	.---block-title {
		margin-bottom: 30px;
	}

	.---item {
		color: #fff;
		padding: 25px 28px 30px;
		display: block;
		margin-top: 30px;
		border-radius: 20px;

		.---item__icon {
			width: 64px;
			height: 64px;
			border-radius: 5px;
			background: fadeout(#fff, 90%);
			color: #fff;
			font-size: 24px;
		}

		.---item__title {
			font-size: 22px;
			font-weight: 800;
			margin-top: 20px;
			margin-bottom: 10px;
			display: block;
		}

		.---item__thumb {
			display: block;
			font-size: 14px;
		}

	}

	.---item--math {background: #ec407a}
	.---item--physics {background: #ff8a65}
	.---item--russian {background: #29b6f6}
	.---item--social {background: #9e9e9e}
	.---item--history {background: #4db6ac}
	.---item--chemistry {background: #9fa8da}
	.---item--biology {background: #81c784}
	.---item--pack {background: #90a4ae}

}