 <div class="---block-reviews">

   <div class="---block-title">Отзывы студентов</div>

   <div class="---row" >
     <div class="col-xl-6"  *ngFor="let review of reviews">
       <div class="---item">
         <div class="---item-header ---pos-rel">
           <img lazyLoad="assets/imgs/users/2.svg" alt="" class="---img">
           <div class="---name">{{review.author}}</div>
           <div class="---thumb">{{review.course}} / Оценка <b class="---font-800">{{review.assessment}}</b></div>
         </div>
         <p>{{review.text}}</p>
       </div>
     </div>
   </div>

 </div>

<!--  <div class="-&#45;&#45;pagination -&#45;&#45;d-flex -&#45;&#45;justify-content-between -&#45;&#45;align-items-center">
    <div class="-&#45;&#45;nums">
      <a href="#" class="-&#45;&#45;is-active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
    </div>
    <a href="#" class="-&#45;&#45;button -&#45;&#45;button&#45;&#45;acent_orange">Далее</a>
  </div>-->
<div class="---devider ---devider--sm"></div>
