<div class="---block-title ---d-flex ---flex-column ---md-flex-row ---align-items-start ---md-align-items-center ---justify-content-between">
  Отзывы студентов

  <span class="---cursor-pointer ---button ---button--acent_orange" (click)="newReviews.show=true">
    Добавить отзыв
  </span>
</div>

<div class="---block-reviews ---block-reviews--in">
  <div class="---row">
    <div class="col-xl-6" *ngFor="let review of reviews">
      <div class="---item">
        <div class="---item-header ---pos-rel">
          <a href="{{review.url_vk}}" target="_blank">
          <img lazyLoad="{{review.img}}" alt="" class="---img">
          </a>
          <a href="{{review.url_vk}}" target="_blank">
            <div class="---name">{{review.last_name}} {{review.first_name}}</div>
          </a>
          <div class="---thumb">Курс: {{review.subject_name}} / Оценка <b class="---font-800">{{review.rating}}</b></div>
        </div>
        <p>{{review.description}}</p>
      </div>
    </div>
  </div>

</div>
<div class="---devider ---devider--sm"></div>


<div *ngIf="newReviews.show===true" class="---modal ---d-flex ---justify-content-center ---align-items-start">
  <div class="---wrapper ---wrapper_review ---text-center">

    <div class="---input-wrap">
      <div class="---input-label">Выберите предмет</div>
      <select [(ngModel)]="newReviews.predmet" class="---select" style="background-color: #f1f5f7;">
        <option *ngFor="let currentMenu of menu" [ngValue]="currentMenu">{{currentMenu.title}}</option>
      </select>
    </div>

    <div class="---input-wrap">
      <div class="---input-label">Выберите оценку</div>
      <select [(ngModel)]="newReviews.rating" class="---select" style="background-color: #f1f5f7;">
        <option ngValue="1">1</option>
        <option ngValue="2">2</option>
        <option ngValue="3">3</option>
        <option ngValue="4">4</option>
        <option ngValue="5">5</option>
      </select>
    </div>

    <div class="---input-wrap">
      <div class="---input-label">Описание</div>
      <textarea [(ngModel)]="newReviews.description" class="---input" style="background-color: #f1f5f7;" rows="6"></textarea>
    </div>

    <div class="---cursor-pointer ---button ---button--acent_orange" (click)="createReviews()">
      Отправить
    </div>


    <div (click)="newReviews.show=false"
         class="---cursor-pointer ---icon-close ---icon-font ---icon-close ---x-pos-abs"></div>
  </div>
</div>
