<div class="---block-auth-des ---tabs">
  <div class="col-xl-10">
    <div class="---row ---item ---justify-content-between ---align-items-center" *ngFor="let item of data">
      
      <div class="---item--text">
        <div class="---item-title h2 ---font-800">{{item.name}}</div>
        <p class="---item-des">{{item.description}}</p>
      </div>
      
      <div class="---item--img">
        <img lazyLoad="http://api.examator.ru/frontend/web/images/options/{{item.img_name}}">
      </div>

    </div>
  </div>
</div>

<div class="---devider"></div>

<div class="---block-subjects">
  <div class="---row ---row--sm">

    <div class="col-12 ---block-title">Выбери <span class="---acent">нужный предмет</span></div>

    <div class="col-xs-6 col-md-4 col-lg-3 spec-block-lesson" *ngFor="let item of menu">
      <a routerLink="/section/{{item.slug}}"
         class="---item ---item--math ---d-flex ---flex-row ---align-items-center ---md-flex-column ---md-align-items-start">
        <div class="---item__icon ---pos-rel">
          <i class="---icon-font ---pos-abs" [ngClass]="'---icon-menu-'+item.icon"></i>
        </div>
        <div>
          <div class="---item__title">{{item.title}}</div>
          <div class="---item__thumb">56 курсов / 28 вебинаров</div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="---devider"></div>

<div class="---block-reviews">
  <div class="---block-title ---d-flex ---align-items-center ---justify-content-between">
    <div>Отзывы <span class="---acent">о курсах</span></div>

    <a href="#" class="---button ---button--border_bg ---button--color-acent">Все отзывы</a>
  </div>

  <div class="---owl-carousel">
    <div class="---item">
      <div class="---item-header ---pos-rel">
        <img lazyLoad="assets/imgs/users/1.svg" alt="" class="---img">
        <div class="---name">Максим Мироненко</div>
        <div class="---thumb">Курс Математики / Оценка <b class="---font-800">5</b></div>
      </div>
      <p>
        Курс отличный, очень полезный. Я считаю, что обязателен для всех, кто хочет развиваться в этой сфере. Сложен для
        понимаю, почти каждый вебинар пересматривал, бывало, и не один раз. Отдельная благодарность преподавателю
        Сергею!
      </p>
    </div>
    <div class="---item">
      <div class="---item-header ---pos-rel">
        <img lazyLoad="assets/imgs/users/2.svg" alt="" class="---img">
        <div class="---name">Александр Баль</div>
        <div class="---thumb">Курс Математики / Оценка <b class="---font-800">5</b></div>
      </div>
      <p>
        Курс отличный - ничего лишнего - методички совпадают с излагаемым материалом - преподаватель старается разжевать
        на первый взгляд непростые темы, очень все достойно, - наконец то ушли от клик митинга - зум рулит.
      </p>
    </div>
    <div class="---item">
      <div class="---item-header ---pos-rel">
        <img lazyLoad="assets/imgs/users/2.svg" alt="" class="---img">
        <div class="---name">Александр Баль</div>
        <div class="---thumb">Курс Математики / Оценка <b class="---font-800">5</b></div>
      </div>
      <p>
        Курс отличный - ничего лишнего - методички совпадают с излагаемым материалом - преподаватель старается разжевать
        на первый взгляд непростые темы, очень все достойно, - наконец то ушли от клик митинга - зум рулит.
      </p>
    </div>
    <div class="---item">
      <div class="---item-header ---pos-rel">
        <img lazyLoad="assets/imgs/users/2.svg" alt="" class="---img">
        <div class="---name">Александр Баль</div>
        <div class="---thumb">Курс Математики / Оценка <b class="---font-800">5</b></div>
      </div>
      <p>
        Курс отличный - ничего лишнего - методички совпадают с излагаемым материалом - преподаватель старается разжевать
        на первый взгляд непростые темы, очень все достойно, - наконец то ушли от клик митинга - зум рулит.
      </p>
    </div>
  </div>
</div>
