<div class="---block-auth-des ---tabs">
  <div class="col-xl-10 animatedParent animateOnce">
    <div class="---row ---item ---justify-content-between ---align-items-center" *ngFor="let item of data">

      <div class="---item--text clickExample">
        <div class="---item-title h2 ---font-800">{{item.name}}</div>
        <p class="---item-des">{{item.description}}</p>
      </div>

      <div class="---item--img">
        <img lazyLoad="http://api.examator.ru/frontend/web/images/options/{{item.img_name}}">
      </div>

    </div>
  </div>
</div>

<div class="---devider"></div>

<div class="---block-subjects" >
  <div class="---row ---row--sm">

    <div class="col-12 ---block-title">Выбери <span class="---acent">нужный предмет</span></div>

    <div class="col-xs-6 col-md-4 col-lg-3 spec-block-lesson" *ngFor="let item of menu">
      <div (click)="getSection(item)"
           [ngClass]="{'opacity-5':item.is_status==='2'}"
           class="---cursor-pointer ---item  ---d-flex ---flex-row ---align-items-center ---md-flex-column ---md-align-items-start"
           [style.backgroundColor]="item.color">
        <div class="---item__icon ---pos-rel">
          <i class="---icon-font ---pos-abs" [ngClass]="'---icon-menu-'+item.icon"></i>
        </div>
        <div>
          <div class="---item__title">{{item.title}}</div>
          <!--<div class="---item__thumb">56 курсов / 28 вебинаров</div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="---devider"></div>

<div class="---block-reviews">
  <div class="---block-title ---d-flex ---align-items-center ---justify-content-between">
    <div>Отзывы <span class="---acent">о курсах</span></div>

    <a routerLink="/reviews" class="---button ---button--border_bg ---button--color-acent">Все отзывы</a>
  </div>

  <div class="---row">
    <div class="col-xl-6" *ngFor="let review of reviews">
      <div class="---item">
        <div class="---item-header ---pos-rel">
          <a href="{{review.url_vk}}" target="_blank">
            <img lazyLoad="{{review.img}}" alt="" class="---img">
          </a>
          <a href="{{review.url_vk}}" target="_blank">
            <div class="---name">{{review.last_name}} {{review.first_name}}</div>
          </a>
          <div class="---thumb">Курс: {{review.subject_name}} / Оценка <b class="---font-800">{{review.rating}}</b></div>
        </div>
        <p>{{review.description}}</p>
      </div>
    </div>
  </div>
</div>
