<div class="---block-profile ---d-flex">

  <app-profile-menu></app-profile-menu>

  <div class="---rside ---pos-rel">
    <app-breadcrumbs></app-breadcrumbs>

    <div class="---block-title ---block-title--sm">Карта вашего продвижения</div>

    <div class="---tabs ---lessons-tabs ---font-800 ---pos-rel">
      <div class="---tabs-switchers ---pos-rel ---d-flex">
        <a href="#" class="---tab-switcher">Математика</a>
        <a href="#" class="---tab-switcher ---is-active">Физика</a>
        <a href="#" class="---tab-switcher">Русский</a>
        <a href="#" class="---tab-switcher">Общество</a>
        <a href="#" class="---tab-switcher">История</a>
        <a href="#" class="---tab-switcher">Химия</a>
        <a href="#" class="---tab-switcher">Биология</a>
      </div>

      <div class="---tab ---is-visible">
        <div class="---subject">
          <div class="---course ---font-800" style="background: #ec407a;">
            <img data-src="assets/imgs/icons/course.svg" alt="" class="---lazyload ---y-pos-abs">
            Механика
          </div>

          <div class="---lessons ---d-inline-flex ---pos-rel">
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
          </div>
        </div>
        <div class="---subject">
          <div class="---course ---font-800" style="background: #ff8a65;">
            <img data-src="assets/imgs/icons/course.svg" alt="" class="---lazyload ---y-pos-abs">
            МКТ
          </div>

          <div class="---lessons ---d-inline-flex ---pos-rel">
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
          </div>
        </div>
        <div class="---subject">
          <div class="---course ---font-800" style="background: #29b6f6;">
            <img data-src="assets/imgs/icons/course.svg" alt="" class="---lazyload ---y-pos-abs">
            Электростатика
          </div>

          <div class="---lessons ---d-inline-flex ---pos-rel">
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
          </div>
        </div>
        <div class="---subject">
          <div class="---course ---font-800" style="background: #9e9e9e;">
            <img data-src="assets/imgs/icons/course.svg" alt="" class="---lazyload ---y-pos-abs">
            Оптика кванты
          </div>

          <div class="---lessons ---d-inline-flex ---pos-rel">
            <a href="#" class="---lesson ---is-ended">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson ---is-curent">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
            <a href="#" class="---lesson">
                                <span class="---icon ---y-pos-abs">
                                    <img data-src="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                                </span>
              Название курса
            </a>
          </div>
        </div>
      </div>
      <div class="---tab"></div>
      <div class="---tab"></div>
      <div class="---tab"></div>
      <div class="---tab"></div>
      <div class="---tab"></div>
      <div class="---tab"></div>
    </div>

  </div>
</div>
