<!--<div *ngIf="globalParamsAuth.showModalAuth" id="-&#45;&#45;modal-login"
     class="-&#45;&#45;modal -&#45;&#45;justify-content-center -&#45;&#45;align-items-start -&#45;&#45;is-visible">
  <div class="-&#45;&#45;wrapper">
    <i class="-&#45;&#45;js-close -&#45;&#45;icon-close -&#45;&#45;icon-font -&#45;&#45;icon-close -&#45;&#45;x-pos-abs" (click)="close()"
       data-close-block=".-&#45;&#45;modal"></i>
    <div id="vk_auth"></div>
  </div>
</div>-->


<div *ngIf="globalParamsAuth.showModalAuth" id="---modal-login" class="---modal ---d-flex ---justify-content-center ---align-items-start">
    <div class="---wrapper">

        <i class="---js-close ---icon-close ---icon-font ---icon-close ---x-pos-abs" data-close-block=".---modal" (click)="close()"></i>

        <img src="/assets/imgs/icons/modals/login.svg" alt="" class="---icon">

        <div class="---text-center">
            <div class="---modal__title">
                <span class="---font-800">Зарегистрируйтесь</span><br> что бы начать<br> проходить крусы
            </div>

          <p><a style="text-decoration: underline;" href="https://oauth.vk.com/authorize?client_id=7200615&display=page&redirect_uri=https://examator.ru/&scope=offline&response_type=token&v=5.126&state=123456">Выполнить вход через ВКонтакте</a></p>
        </div>
    </div>
</div>
