<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=buyer&targets=&targets-hint=&default-sum=&button-text=12&hint=&successURL=&quickpay=shop&account=41001820507850" width="423" height="215" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
  <input type="hidden" name="receiver" value="41001820507850">
  <input type="hidden" name="label" value="test-test-label">
  <input type="hidden" name="operation_id" value="1">
  <input type="hidden" name="operation-details" value="true">
  <input type="hidden" name="formcomment" value="Examator">
  <input type="hidden" name="short-dest" value="Онлайн школа examator.ru">
  <input type="hidden" name="quickpay-form" value="shop">
  <input type="hidden" name="targets" value="Examator">
  <input type="hidden" name="sum" value="2" data-type="number">
  <input type="hidden" name="comment" value="Платеж  за  урока ">
  <input type="hidden" name="message" value="Платеж  за  урока ">
  <input type="hidden" name="codepro" value="true">
  <input type="hidden" name="successURL" value="http://dev.examator.ru/">

  <input type="hidden" name="paymentType" value="payment-shop">
  <input type="submit" value="Перевести">
</form>
