
  <svg class="---js-close ---d-block ---lg-d-none" data-close-block=".---main-menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.171 241.171" width="512" height="512"><path d="M138.138 120.754l99.118-98.576a11.931 11.931 0 0 0 0-17.011c-4.74-4.704-12.439-4.704-17.179 0l-99.033 98.492-99.949-99.96c-4.74-4.752-12.439-4.752-17.179 0-4.74 4.764-4.74 12.475 0 17.227l99.876 99.888L3.555 220.497c-4.74 4.704-4.74 12.319 0 17.011 4.74 4.704 12.439 4.704 17.179 0l100.152-99.599 99.551 99.563c4.74 4.752 12.439 4.752 17.179 0 4.74-4.764 4.74-12.475 0-17.227l-99.478-99.491z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFF"/></svg>

  <div class="---bg ---z-index-under"></div>

  <div (click)="getSection('math')" class="---item">
    <span class="---img ---icon-font ---icon-menu-map"></span>
    <span class="---text">Математика</span>
  </div>
  <div (click)="getSection('physics')" class="---item">
    <span class="---img ---icon-font ---icon-menu-physics"></span>
    <span class="---text">Физика</span>
  </div>
  <div (click)="getSection('')" class="---item">
    <span class="---img ---icon-font ---icon-menu-russian"></span>
    <span class="---text">Русский</span>
  </div>
  <div (click)="getSection('')" class="---item">
    <span class="---img ---icon-font ---icon-menu-social"></span>
    <span class="---text">Общество</span>
  </div>
  <div (click)="getSection('')" class="---item">
    <span class="---img ---icon-font ---icon-menu-history"></span>
    <span class="---text">История</span>
  </div>
  <div (click)="getSection('')" class="---item">
    <span class="---img ---icon-font ---icon-menu-checmistry"></span>
    <span class="---text">Химия</span>
  </div>
  <div (click)="getSection()" class="---item">
    <span class="---img ---icon-font ---icon-menu-biology"></span>
    <span class="---text">Биология</span>
  </div>
