
<div class="---bg ---z-index-under"></div>

  <a routerLink="section" class="---item">
    <span class="---img ---icon-font ---icon-menu-map"></span>
    <span class="---text">Математика</span>
  </a>
  <a href="/physics.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-physics"></span>
    <span class="---text">Физика</span>
  </a>
  <a href="/russian.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-russian"></span>
    <span class="---text">Русский</span>
  </a>
  <a href="/social.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-social"></span>
    <span class="---text">Общество</span>
  </a>
  <a href="/history.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-history"></span>
    <span class="---text">История</span>
  </a>
  <a href="/chemistry.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-checmistry"></span>
    <span class="---text">Химия</span>
  </a>
  <a href="/biology.php" class="---item">
    <span class="---img ---icon-font ---icon-menu-biology"></span>
    <span class="---text">Биология</span>
  </a>
  <a href="/biology.php" class="---item ---is-curent">
    <span class="---img ---icon-font ---font-800">56%</span>
    <span class="---text">Биология</span>
  </a>
