<div class="---block-blog">
  <div class="---block-title">Блог. Интересное. Важное.</div>

  <div class="---row">
    <div class="col-sm-6" *ngFor="let blog of blogs">
      <div (click)="getBlog(blog.slug)" class="---blog-item ---d-flex ---flex-column ---cursor-pointer">
        <span class="---img">
          <img lazyLoad="https://api.examator.ru/frontend/web/images/blog/small/{{blog.img_name}}" alt="" class="---img-cover">
        </span>
        <span class="---title ---font-600">{{blog.title}}</span>
        <span class="---d-flex ---align-items-center ---justify-content-between">
          <span class="---date ---d-flex ---align-items-center">
            <i class="---icon-font ---icon-arrow-right"></i>
            {{blog.created_at}}
          </span>
          <span class="---subject ---font-600 ---font-uppercase">{{blog.subject_name}}</span>
        </span>
      </div>
    </div>

  </div>

  <!--<div class="---pagination ---d-flex ---justify-content-between ---align-items-center">
    <div class="---nums">
      <a href="#" class="---is-active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
    </div>
    <a href="#" class="---button ---button--acent_orange">Далее</a>
  </div>-->
</div>

<div class="---devider ---devider--sm"></div>
