<div class="---block-course-header ---pos-rel">
  <div class="---bg ---z-index-under" style="background: #ec407a;"></div>

  <img lazyLoad="assets/imgs/course-in/bg/mechanic.svg" alt="" class="---bg-img ---z-index-under">

  <div class="---row">

    <div class="col-lg-8">
      <div class="---block-title">
        {{subsection.subject.title}}
        <div class="---font-800">{{subsection.name}}</div>
      </div>

      <p>{{subsection.short_description}}</p>
      <a href="https://vk.com/app5898182_-185278877#s=493523" target="_blank" fragment="start_work"
         class="---button ---button--acent_orange ---button--shadow">{{buttons[4].name}}</a>
    </div>

  </div>

  <img lazyLoad="{{subsection.img_path}}" alt="" class="---icon ---d-none ---sm-d-block">
</div>

<div class="---block-courses" id="courses-details">
  <div class="---free-course ---pos-rel ---d-flex ---align-items-center">
    <div>
      <div class="---title"><span class="---font-800">3 урока бесплатно!</span> Попробуйте</div>
      <p>Вы можете выбрать любой курс и пройти 3 урока бесплатно после <a href="#">регитсрации</a></p>
    </div>

    <i class="---icon-font ---icon-arrow-down ---d-none ---xl-d-inline-flex"></i>

    <img lazyLoad="assets/imgs/illustrations/course-free.svg" alt="" class="---icon ---d-none ---md-d-block">
  </div>

  <div id="start_work" class="---block-title">Выберите <span class="---acent">раздел</span></div>

  <div class="---row">
    <div class="col-xs-6 col-lg-4 col-xl-3" *ngFor="let section of subsection.sections">
      <div class="---course">
        <div class="---top" [style.backgroundColor]="section.background">
          <div class="---d-flex">
            <div class="---play-button ---pos-rel">
              <svg class="---pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.861 163.861">
                <path fill="#ec407a"
                      d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/>
              </svg>
            </div>
            <div class="---icon ---icon-font ---icon-menu-{{section.icon}}"></div>
          </div>

          <div class="---title">
            {{section.name}}
          </div>
          <div class="---count">{{section.sort_description}}</div>
        </div>
        <ul>
          <li *ngFor="let lesson of section.lessons">
            <img lazyLoad="assets/imgs/icons/circle-check.svg" alt="" class="---y-pos-abs">
            {{lesson.name}}
          </li>
        </ul>

        <div *ngIf="section.is_status==1" class="---price ---font-800 ---text-center">{{section.price}} ₽</div>

        <div *ngIf="globalParamsUser.fio===null" class="---auth-require ---text-center ---cursor-pointer">Необходимо авторизоваться</div>

        <div *ngIf="globalParamsUser.fio!==null && section.is_status==1"
             class="---button ---button--acent_orange ---cursor-pointer"
             (click)="changeShowBuy(section.price,section.slug)">Купить
        </div>

        <a *ngIf="section.is_status==2 || section.is_status==3" (click)="getWork(section)"
           class="---button ---button--acent_orange">Начать</a>
      </div>
    </div>
  </div>

  <div class="---free-course ---free-course--acent ---pos-rel">
    <div class="---title">
      <span class="---font-800 ---d-block ---xs-d-inline-block">Все курсы по {{subsection.name}}
        со скидкой {{subsection.subject.stock}}%!</span>
      <span class="---old-price">{{subsection.subject.price }}</span>
      - {{subsection.subject.price - (subsection.subject.price * subsection.subject.stock / 100)}} ₽
    </div>
    <p>{{subsection.stock_description}}</p>

    <div (click)="buyAll()" class="---button ---button--acent_orange">{{buttons[6].name}}</div>
  </div>
</div>

<div class="---block-course-about">
  <div class="---row">

    <div class="col-xl-6">
      <div class="---block-title" id="courses">О курсах</div>
      <div innerHTML="{{subsection.description}}">

      </div>
    </div>

    <div class="col-xl-6 ---d-none ---sm-d-flex ---justify-content-between ---xl-flex-row">
      <img lazyLoad="assets/imgs/illustrations/bg2.svg" alt="" class="---bg ---z-index-under ---d-none ---xl-d-block">

      <div class="---img ---img-1"><img lazyLoad="assets/imgs/course-in/2.png" alt="" class="---img-cover"></div>
      <div class="---img ---img-2"><img lazyLoad="assets/imgs/course-in/1.png" alt="" class="---img-cover"></div>
    </div>

  </div>
</div>


<div *ngIf="buyModal.show" class="---modal ---d-flex ---justify-content-center ---align-items-start">
  <div class="---wrapper ---wrapper_hint ---text-center">

    <div class="---wrapper__hint-content">
      <div class="---d-flex ---flex-wrap ---justify-content-center">
        <div style="margin: 0 5px 10px;">Сумма: <span class="---font-600">{{buyModal.price}} р</span></div>
        <div style="margin: 0 5px 10px;">Скидка: <span class="---font-600">{{buyModal.sale}} %</span></div>
        <div *ngIf="buyModal.new_price!==''" style="margin: 0 5px 10px;">Итого: <span
          class="---font-600">{{buyModal.new_price}} р</span></div>
      </div>

      <iframe
        [src]="sanitizer.bypassSecurityTrustResourceUrl('https://money.yandex.ru/quickpay/shop-widget?targets=Examator&any-card-payment-type=on&default-sum='+buyModal.new_price+'&successURL=http://examator.ru&account=41001820507850&label='+globalParamsUser.fio+'-'+buyModal.slug)"
        width="184"
        height="36"
        frameborder="0"
        allowtransparency="true"
        scrolling="no"
      >

      </iframe>
    </div>

    <div (click)="buyModal.show=false"
         class="---cursor-pointer ---icon-close ---icon-font ---icon-close ---x-pos-abs"></div>
  </div>
</div>
