
<div class="---block-catalog">

  <div class="---course-wrap">
    <div class="---block-title">Видео курсы по <span class="---acent ---font-800">физике</span></div>

    <div class="---course-list ---lessons-tabs">

      <div class="---subject">
        <a href="#" class="---course ---font-800 ---d-flex ---align-items-center" style="background: #ff8a65;">
                        <span class="---play-button ---pos-rel">
                            <svg class="---pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.861 163.861"><path fill="#ff8a65" d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/></svg>
                        </span>
          <span class="---icon ---pos-rel">
                            <img lazyLoad="assets/imgs/icons/course.svg" alt="" class="---svg-img ---pos-abs">
                        </span>

          <span class="---text-wrap">
                            <span class="---font-800">Механика</span>
                            <span class="---course-count ---font-400 ---d-block">6 видео курсов</span>
                        </span>
        </a>

        <div class="---lessons ---d-inline-flex ---pos-rel">
          <a routerLink="/subsection" class="---lesson ---is-ended">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson ---is-curent">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
        </div>
      </div>
      <div class="---subject">
        <a href="#" class="---course ---font-800 ---d-flex ---align-items-center" style="background: #29b6f6;">
                        <span class="---play-button ---pos-rel">
                            <svg class="---pos-abs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.861 163.861"><path fill="#29b6f6" d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/></svg>
                        </span>
          <span class="---icon ---pos-rel">
                            <img lazyLoad="assets/imgs/icons/course.svg" alt="" class="---svg-img ---pos-abs">
                        </span>

          <span class="---text-wrap">
                            <span class="---font-800">Электродинамика</span>
                            <span class="---course-count ---font-400 ---d-block">6 видео курсов</span>
                        </span>
        </a>

        <div class="---lessons ---d-inline-flex ---pos-rel">
          <a href="#" class="---lesson ---is-ended">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson ---is-curent">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="---devider"></div>

  <div class="---course-wrap">
    <div class="---block-title">Тесты по <span class="---acent ---font-800">физике</span></div>

    <div class="---course-list ---lessons-tabs">

      <div class="---subject">
        <a href="#" class="---course ---font-800 ---d-flex ---align-items-center" style="color: #2e3349;">
                        <span class="---icon ---pos-rel" style="background: #ec407a;">
                            <img lazyLoad="assets/imgs/icons/course.svg" alt="" class="---svg-img ---pos-abs">
                        </span>

          <span class="---text-wrap">
                            <span class="---font-800">Механика</span>
                            <span class="---course-count ---font-400 ---d-block">6 видео курсов</span>
                        </span>
        </a>

        <div class="---lessons ---d-inline-flex ---pos-rel">
          <a href="#" class="---lesson ---is-ended">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson ---is-curent">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
        </div>
      </div>
      <div class="---subject">
        <a href="#" class="---course ---font-800 ---d-flex ---align-items-center" style="color: #2e3349;">
                        <span class="---icon ---pos-rel" style="background: #ff8a65;">
                            <img lazyLoad="assets/imgs/icons/course.svg" alt="" class="---svg-img ---pos-abs">
                        </span>

          <span class="---text-wrap">
                            <span class="---font-800">Электродинамика</span>
                            <span class="---course-count ---font-400 ---d-block">6 видео курсов</span>
                        </span>
        </a>

        <div class="---lessons ---d-inline-flex ---pos-rel">
          <a href="#" class="---lesson ---is-ended">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-success.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson ---is-curent">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/lesson-period.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
          <a href="#" class="---lesson">
                            <span class="---icon ---y-pos-abs">
                                <img lazyLoad="assets/imgs/icons/arrow-right.svg" alt="" class="---svg-img ---pos-abs">
                            </span>
            Название курса
          </a>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="---devider ---devider--sm"></div>
